.container {
    background-color: #404040;
    width: 100%;
    padding-bottom: 30px;
}

.title {
    text-align: center;
    color: white;
}

.currentPlayer {
    color: white;
    text-align: center;
}

.score {
    display: flex;
    justify-content: space-around;
}

#score-player-1 {
    display: flex;
}

#score-player-2 {
    display: flex;
}

.awale-container {
    width: 1000px;
    margin: auto;
}

.player {
    width: 100%;
    height: 100%;
    margin: auto;

    display: grid;
    grid-template-areas:
            "case6 case5 case4 case3 case2 case1"
            "case7 case8 case9 case10 case11 case12";
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.case {
    background-color: white;
    width: 161px;
    min-height: 40px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#case1 {grid-area: case1; cursor: pointer}
#case2 {grid-area: case2; cursor: pointer}
#case3 {grid-area: case3; cursor: pointer}
#case4 {grid-area: case4; cursor: pointer}
#case5 {grid-area: case5; cursor: pointer}
#case6 {grid-area: case6; cursor: pointer}

#case7 {grid-area: case7; opacity: 0.5; cursor: not-allowed;}
#case8 {grid-area: case8; opacity: 0.5; cursor: not-allowed;}
#case9 {grid-area: case9; opacity: 0.5; cursor: not-allowed;}
#case10 {grid-area: case10; opacity: 0.5; cursor: not-allowed;}
#case11 {grid-area: case11; opacity: 0.5; cursor: not-allowed;}
#case12 {grid-area: case12; opacity: 0.5; cursor: not-allowed;}

.pawn img {
    width: 40px;
}